# Practicumopdrachten Week 2.2 (eerste kans)

## Dependencies importeren

Importeer in het codeblok hieronder de packages die worden gebruikt om data in te lezen. Geef er ook de gebruikelijke aliassen aan.<br>
N.B.: de 2 reeds geschreven coderegels zorgen ervoor dat eventuele warnings, die code-outputs lelijker maken, uitgezet worden.

In [1]:
import pandas as pd
import sqlite3
import warnings
warnings.simplefilter('ignore')

Zet het bestand go_sales.sqlite in hetzelfde mapje als dit notebook.

## Databasetabel inlezen

Creëer een databaseconnectie met het bestand go_sales.sqlite.

In [2]:
sales_connection = sqlite3.connect('go_sales.sqlite')

Gebruik de onderstaande sql_query om te achterhalen welke databasetabellen in go_sales zitten.

In [3]:
sql_query = "SELECT name FROM sqlite_master WHERE type='table';"
pd.read_sql_query(sql_query, sales_connection)

                name
0            country
1      order_details
2       order_header
3       order_method
4            product
5       product_line
6       product_type
7      retailer_site
8      return_reason
9      returned_item
10      sales_branch
11       sales_staff
12  SALES_TARGETData
13   sqlite_sequence

Gebruik de gecreëerde databaseconnectie om de resultaten van de volgende query in een DataFrame te zetten:<br>
*SELECT * FROM sales_staff*

In [4]:
sales_query = "SELECT * FROM sales_staff"
pd.read_sql_query(sales_query, sales_connection)

,SALES_STAFF_CODE,FIRST_NAME,LAST_NAME,POSITION_EN,WORK_PHONE,EXTENSION,FAX,EMAIL,DATE_HIRED,SALES_BRANCH_CODE,TRIAL888
0,100,Tuomas,Savolainen,Level 2 Sales Representative,+358(0)17 - 433 127,825,+358(0)17 - 433 129,TSavolainen@grtd123.com,23-7-2014,31,T
1,101,Chang-ho,Kim,Level 2 Sales Representative,82-2-778-6587,1228,82-2-778-6586,CKim@grtd123.com,15-12-2014,32,T
2,102,Jung-ho,Choi,Level 3 Sales Representative,82-2-778-6587,2641,82-2-778-6586,JChoi@grtd123.com,27-11-2014,32,T
3,103,Kwei-Ping,Kao,Level 2 Sales Representative,886-2-2975-1988,1541,886-2-2989-4978,KKwao@grtd123.com,7-10-2014,33,T
4,104,Chin-Tsai,Fang,Level 3 Sales Representative,886-2-2975-1988,2311,886-2-2989-4978,CFon@grtd123.com,8-5-2012,33,T
...,...,...,...,...,...,...,...,...,...,...,...
97,95,Tomás,Iglesias,Level 2 Sales Representative,+35 94 322 3540,325,+35 91 548 1637,TIglesias@grtd123.com,19-2-2014,29,T
98,96,Bayard,Lopes,Branch Manager,+55 (11) 344-4444,3490,+55 (11) 333-2223,BLopes@grtd123.com,12-8-2013,30,T
99,97,Viviam,Barros,Level 3 Sales Representative,+55 (11) 344-4444,3364,+55 (11) 333-2223,VBarros@grtd123.com,10-2-2017,30,T
100,98,Eduardo,Guimarães,Level 2 Sales Representative,+55 (11) 344-4444,1442,+55 (11) 333-2223,EGuimaraes@grtd123.com,14-2-2015,30,T
101,99,Helena,Lindholm,Level 3 Sales Representative,+358(0)17 - 433 127,489,+358(0)17 - 433 129,HLindholm@grtd123.com,17-8-2013,31,T

## DataFrames uitsplitsen en opbouwen met Series

De volgende 5 kolommen hebben betrekking op de contactdetails van elke medewerker in dit DataFrame:
- SALES_STAFF_CODE
- WORK_PHONE
- EXTENSION
- FAX
- EMAIL

Maak van elk van deze 5 kolommen een serie.

In [5]:
sales_data = pd.read_sql_query(sales_query, sales_connection)

sales_staff_code_series = pd.Series(sales_data['SALES_STAFF_CODE'])
sales_staff_code_series

work_phone_series = pd.Series(sales_data['WORK_PHONE'])

extension_series = pd.Series(sales_data['EXTENSION'])

fax_series = pd.Series(sales_data['FAX'])

email_series = pd.Series(sales_data['EMAIL'])

Zet allevijf gecreëerde series als kolommen naast elkaar in een DataFrame (*contact_details*). Gebruik pd.concat(...)<br>
Hulpvraag: welke waarde geef je aan de axis-parameter?

In [6]:
contact_details = pd.concat([sales_staff_code_series, work_phone_series, extension_series, fax_series, email_series], axis=1)
contact_details

,SALES_STAFF_CODE,WORK_PHONE,EXTENSION,FAX,EMAIL
0,100,+358(0)17 - 433 127,825,+358(0)17 - 433 129,TSavolainen@grtd123.com
1,101,82-2-778-6587,1228,82-2-778-6586,CKim@grtd123.com
2,102,82-2-778-6587,2641,82-2-778-6586,JChoi@grtd123.com
3,103,886-2-2975-1988,1541,886-2-2989-4978,KKwao@grtd123.com
4,104,886-2-2975-1988,2311,886-2-2989-4978,CFon@grtd123.com
...,...,...,...,...,...
97,95,+35 94 322 3540,325,+35 91 548 1637,TIglesias@grtd123.com
98,96,+55 (11) 344-4444,3490,+55 (11) 333-2223,BLopes@grtd123.com
99,97,+55 (11) 344-4444,3364,+55 (11) 333-2223,VBarros@grtd123.com
100,98,+55 (11) 344-4444,1442,+55 (11) 333-2223,EGuimaraes@grtd123.com
101,99,+358(0)17 - 433 127,489,+358(0)17 - 433 129,HLindholm@grtd123.com

## Series en DataFrames maken vanuit lists en dictionaries

Met .head(*getal*) kan je de bovenste *getal* rijen van een tabel selecteren.<br>
Selecteer op deze manier de bovenste 5 rijen van *contact_details*.<br>
Sla dit resultaat op in een nieuw DataFrame.

In [7]:
firstfive = contact_details.head(5)
firstfive

,SALES_STAFF_CODE,WORK_PHONE,EXTENSION,FAX,EMAIL
0,100,+358(0)17 - 433 127,825,+358(0)17 - 433 129,TSavolainen@grtd123.com
1,101,82-2-778-6587,1228,82-2-778-6586,CKim@grtd123.com
2,102,82-2-778-6587,2641,82-2-778-6586,JChoi@grtd123.com
3,103,886-2-2975-1988,1541,886-2-2989-4978,KKwao@grtd123.com
4,104,886-2-2975-1988,2311,886-2-2989-4978,CFon@grtd123.com

Aan deze 10 rijen met contactdetails willen we 3 kolommen toevoegen: 'FIRST_LANGUAGE', 'SECOND_LANGUAGE' & 'THIRD_LANGUAGE'.<br>
Iedereens 'First Language' is Engels, afgekort 'EN'. Maak een lijst waarin 5x 'EN' staat.<br>
Converteer deze lijst vervolgens naar een serie en voeg deze horizontaal samen met het resultaat van de vorige opdracht.<br>
Vergeet niet een passende naam te geven aan de nieuw ontstane kolom.

In [8]:
firstLanguage = {
    'FIRST_LANGUAGE': ['EN', 'EN', 'EN', 'EN', 'EN'],
}
data = pd.concat([firstfive, pd.DataFrame(firstLanguage)], ignore_index=True)
data

,SALES_STAFF_CODE,WORK_PHONE,EXTENSION,FAX,EMAIL,FIRST_LANGUAGE
0,100,+358(0)17 - 433 127,825,+358(0)17 - 433 129,TSavolainen@grtd123.com,NaN
1,101,82-2-778-6587,1228,82-2-778-6586,CKim@grtd123.com,NaN
2,102,82-2-778-6587,2641,82-2-778-6586,JChoi@grtd123.com,NaN
3,103,886-2-2975-1988,1541,886-2-2989-4978,KKwao@grtd123.com,NaN
4,104,886-2-2975-1988,2311,886-2-2989-4978,CFon@grtd123.com,NaN
5,NaN,NaN,NaN,NaN,NaN,EN
6,NaN,NaN,NaN,NaN,NaN,EN
7,NaN,NaN,NaN,NaN,NaN,EN
8,NaN,NaN,NaN,NaN,NaN,EN
9,NaN,NaN,NaN,NaN,NaN,EN

Maak nu de tweede kolom ('SECOND_LANGUAGE'). Maak daarvoor een dictionary, met daarin...
- Als keys: alle indexen uit het resultaat van het vorige codeblok.
- Als values: bij de eerste 3 elementen 'FR' (Frankrijk), bij de laatste 2 'DE' (Duitsland).

Maak vervolgens ook hier weer een serie van en voeg ook deze weer horizontaal samen met het rsultaat van de vorige opdracht.<br>
Vergeet niet een passende naam te geven aan de nieuw ontstane kolom.

In [9]:
secondLanguage = {
    'SECOND_LANGUAGE': ['FR', 'FR', 'FR', 'DE', 'DE']
}
addedLanguage = pd.concat([data, pd.DataFrame(secondLanguage)], ignore_index=True)
addedLanguage

,SALES_STAFF_CODE,WORK_PHONE,EXTENSION,FAX,EMAIL,FIRST_LANGUAGE,SECOND_LANGUAGE
0,100,+358(0)17 - 433 127,825,+358(0)17 - 433 129,TSavolainen@grtd123.com,NaN,NaN
1,101,82-2-778-6587,1228,82-2-778-6586,CKim@grtd123.com,NaN,NaN
2,102,82-2-778-6587,2641,82-2-778-6586,JChoi@grtd123.com,NaN,NaN
3,103,886-2-2975-1988,1541,886-2-2989-4978,KKwao@grtd123.com,NaN,NaN
4,104,886-2-2975-1988,2311,886-2-2989-4978,CFon@grtd123.com,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,EN,NaN
6,NaN,NaN,NaN,NaN,NaN,EN,NaN
7,NaN,NaN,NaN,NaN,NaN,EN,NaN
8,NaN,NaN,NaN,NaN,NaN,EN,NaN
9,NaN,NaN,NaN,NaN,NaN,EN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,FR
11,NaN,NaN,NaN,NaN,NaN,NaN,FR
12,NaN,NaN,NaN,NaN,NaN,NaN,FR
13,NaN,NaN,NaN,NaN,NaN,NaN,DE
14,NaN,NaN,NaN,NaN,NaN,NaN,DE

Maak ten slotte de derde kolom ('THIRD_LANGUAGE') door een dictionary te maken met daarin...
- Als key: de naam van de nieuwe kolom. Zie je het verschil qua keys met de vorige opdracht?
- Als waarde: een lijst met daarin 'NL', 'NL', 'JPN', 'JPN', 'KOR'.

Converteer deze dictionary nu naar een DataFrame en voeg deze horizontaal samen met het resultaat van de vorige opdracht.<br>
Waarom hoef je hierna de nieuw ontstane kolom geen passende naam meer te geven?

In [10]:
thirdLanguage = {
    'THIRD_LANGUAGE': ['NL', 'NL', 'JPN', 'JPN', 'KOR']
}
thirdLanguageDataFrame = pd.DataFrame(thirdLanguage)
addedthirdLanguage = pd.concat([addedLanguage, thirdLanguageDataFrame], ignore_index=True)
addedthirdLanguage

,SALES_STAFF_CODE,WORK_PHONE,EXTENSION,FAX,EMAIL,FIRST_LANGUAGE,SECOND_LANGUAGE,THIRD_LANGUAGE
0,100,+358(0)17 - 433 127,825,+358(0)17 - 433 129,TSavolainen@grtd123.com,NaN,NaN,NaN
1,101,82-2-778-6587,1228,82-2-778-6586,CKim@grtd123.com,NaN,NaN,NaN
2,102,82-2-778-6587,2641,82-2-778-6586,JChoi@grtd123.com,NaN,NaN,NaN
3,103,886-2-2975-1988,1541,886-2-2989-4978,KKwao@grtd123.com,NaN,NaN,NaN
4,104,886-2-2975-1988,2311,886-2-2989-4978,CFon@grtd123.com,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,EN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,EN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,EN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,EN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,EN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,FR,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,FR,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,FR,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,DE,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,DE,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NL
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NL
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JPN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JPN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KOR

## Data toevoegen

### Rijen

Gebruik de originele databasetabel *sales_staff*.<br>
Voeg een extra rij toe met eigen invulling. Zorg ervoor dat de index netjes doorloopt.<br>
Hulpvraag: welke waarde geef je nu aan axis?

In [11]:
#Rij toevoegen met bestaande data
sales_data['CONTACT'] = "FAX: " + sales_data['FAX'] + " EMAIL: " + sales_data['EMAIL']
sales_data

,SALES_STAFF_CODE,FIRST_NAME,LAST_NAME,POSITION_EN,WORK_PHONE,EXTENSION,FAX,EMAIL,DATE_HIRED,SALES_BRANCH_CODE,TRIAL888,CONTACT
0,100,Tuomas,Savolainen,Level 2 Sales Representative,+358(0)17 - 433 127,825,+358(0)17 - 433 129,TSavolainen@grtd123.com,23-7-2014,31,T,FAX: +358(0)17 - 433 129 EMAIL: TSavolainen@gr...
1,101,Chang-ho,Kim,Level 2 Sales Representative,82-2-778-6587,1228,82-2-778-6586,CKim@grtd123.com,15-12-2014,32,T,FAX: 82-2-778-6586 EMAIL: CKim@grtd123.com
2,102,Jung-ho,Choi,Level 3 Sales Representative,82-2-778-6587,2641,82-2-778-6586,JChoi@grtd123.com,27-11-2014,32,T,FAX: 82-2-778-6586 EMAIL: JChoi@grtd123.com
3,103,Kwei-Ping,Kao,Level 2 Sales Representative,886-2-2975-1988,1541,886-2-2989-4978,KKwao@grtd123.com,7-10-2014,33,T,FAX: 886-2-2989-4978 EMAIL: KKwao@grtd123.com
4,104,Chin-Tsai,Fang,Level 3 Sales Representative,886-2-2975-1988,2311,886-2-2989-4978,CFon@grtd123.com,8-5-2012,33,T,FAX: 886-2-2989-4978 EMAIL: CFon@grtd123.com
...,...,...,...,...,...,...,...,...,...,...,...,...
97,95,Tomás,Iglesias,Level 2 Sales Representative,+35 94 322 3540,325,+35 91 548 1637,TIglesias@grtd123.com,19-2-2014,29,T,FAX: +35 91 548 1637 EMAIL: TIglesias@grtd123.com
98,96,Bayard,Lopes,Branch Manager,+55 (11) 344-4444,3490,+55 (11) 333-2223,BLopes@grtd123.com,12-8-2013,30,T,FAX: +55 (11) 333-2223 EMAIL: BLopes@grtd123.com
99,97,Viviam,Barros,Level 3 Sales Representative,+55 (11) 344-4444,3364,+55 (11) 333-2223,VBarros@grtd123.com,10-2-2017,30,T,FAX: +55 (11) 333-2223 EMAIL: VBarros@grtd123.com
100,98,Eduardo,Guimarães,Level 2 Sales Representative,+55 (11) 344-4444,1442,+55 (11) 333-2223,EGuimaraes@grtd123.com,14-2-2015,30,T,FAX: +55 (11) 333-2223 EMAIL: EGuimaraes@grtd1...
101,99,Helena,Lindholm,Level 3 Sales Representative,+358(0)17 - 433 127,489,+358(0)17 - 433 129,HLindholm@grtd123.com,17-8-2013,31,T,FAX: +358(0)17 - 433 129 EMAIL: HLindholm@grtd...

### Kolommen

Voeg een kolom *FULL_NAME* toe die de waarden van *FIRST_NAME* en *LAST_NAME* achter elkaar zet, gescheiden door een spatie.

In [12]:
sales_data['FULL_NAME'] = sales_data['FIRST_NAME'] + " " + sales_data['LAST_NAME']
sales_data

,SALES_STAFF_CODE,FIRST_NAME,LAST_NAME,POSITION_EN,WORK_PHONE,EXTENSION,FAX,EMAIL,DATE_HIRED,SALES_BRANCH_CODE,TRIAL888,CONTACT,FULL_NAME
0,100,Tuomas,Savolainen,Level 2 Sales Representative,+358(0)17 - 433 127,825,+358(0)17 - 433 129,TSavolainen@grtd123.com,23-7-2014,31,T,FAX: +358(0)17 - 433 129 EMAIL: TSavolainen@gr...,Tuomas Savolainen
1,101,Chang-ho,Kim,Level 2 Sales Representative,82-2-778-6587,1228,82-2-778-6586,CKim@grtd123.com,15-12-2014,32,T,FAX: 82-2-778-6586 EMAIL: CKim@grtd123.com,Chang-ho Kim
2,102,Jung-ho,Choi,Level 3 Sales Representative,82-2-778-6587,2641,82-2-778-6586,JChoi@grtd123.com,27-11-2014,32,T,FAX: 82-2-778-6586 EMAIL: JChoi@grtd123.com,Jung-ho Choi
3,103,Kwei-Ping,Kao,Level 2 Sales Representative,886-2-2975-1988,1541,886-2-2989-4978,KKwao@grtd123.com,7-10-2014,33,T,FAX: 886-2-2989-4978 EMAIL: KKwao@grtd123.com,Kwei-Ping Kao
4,104,Chin-Tsai,Fang,Level 3 Sales Representative,886-2-2975-1988,2311,886-2-2989-4978,CFon@grtd123.com,8-5-2012,33,T,FAX: 886-2-2989-4978 EMAIL: CFon@grtd123.com,Chin-Tsai Fang
...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,95,Tomás,Iglesias,Level 2 Sales Representative,+35 94 322 3540,325,+35 91 548 1637,TIglesias@grtd123.com,19-2-2014,29,T,FAX: +35 91 548 1637 EMAIL: TIglesias@grtd123.com,Tomás Iglesias
98,96,Bayard,Lopes,Branch Manager,+55 (11) 344-4444,3490,+55 (11) 333-2223,BLopes@grtd123.com,12-8-2013,30,T,FAX: +55 (11) 333-2223 EMAIL: BLopes@grtd123.com,Bayard Lopes
99,97,Viviam,Barros,Level 3 Sales Representative,+55 (11) 344-4444,3364,+55 (11) 333-2223,VBarros@grtd123.com,10-2-2017,30,T,FAX: +55 (11) 333-2223 EMAIL: VBarros@grtd123.com,Viviam Barros
100,98,Eduardo,Guimarães,Level 2 Sales Representative,+55 (11) 344-4444,1442,+55 (11) 333-2223,EGuimaraes@grtd123.com,14-2-2015,30,T,FAX: +55 (11) 333-2223 EMAIL: EGuimaraes@grtd1...,Eduardo Guimarães
101,99,Helena,Lindholm,Level 3 Sales Representative,+358(0)17 - 433 127,489,+358(0)17 - 433 129,HLindholm@grtd123.com,17-8-2013,31,T,FAX: +358(0)17 - 433 129 EMAIL: HLindholm@grtd...,Helena Lindholm

## Data wijzigen

### Datatypen

Door het attribuut .dtypes van een DataFrame op te vragen krijg je een serie die per kolom het datatype weergeeft. Doe dit bij de originele databasetabel *sales_staff*

In [13]:
datatypes = sales_data.dtypes
datatypes

SALES_STAFF_CODE     object
FIRST_NAME           object
LAST_NAME            object
POSITION_EN          object
WORK_PHONE           object
EXTENSION            object
FAX                  object
EMAIL                object
DATE_HIRED           object
SALES_BRANCH_CODE    object
TRIAL888             object
CONTACT              object
FULL_NAME            object
dtype: object

Hier valt op dat elke kolom het datatype 'object' heeft: Python leest dus alles als string. Wiskundige operaties zijn hierdoor niet mogelijk.<br>
We kunnen proberen om kolommen met getallen, bijvoorbeeld de 'extension', te converteren naar een int. Zie onderstaande code.

In [14]:
# sales_data['EXTENSION'] = sales_data['EXTENSION'].astype(int)
# sales_data.dtypes

Dit lukt echter niet, omdat er in de kolom 'EXTENSION' lege waarden zitten die niet geconverteerd kunnen worden naar een int.<br>
Wél kan je deze naar een float converteren, zie onderstaande code:

In [15]:
sales_data['EXTENSION'] = sales_data['EXTENSION'].astype(float)
salesDataTypeFloat = sales_data.dtypes
salesDataTypeFloat

SALES_STAFF_CODE      object
FIRST_NAME            object
LAST_NAME             object
POSITION_EN           object
WORK_PHONE            object
EXTENSION            float64
FAX                   object
EMAIL                 object
DATE_HIRED            object
SALES_BRANCH_CODE     object
TRIAL888              object
CONTACT               object
FULL_NAME             object
dtype: object

Als we in de rij van 'EXTENSION' kijken zien we dat de conversie van het datatype nu is gelukt.<br>
Dit is <b>randvoorwaardelijk</b> voor het uitvoeren van wiskundige operaties.<br>

### Rijen

Zorg er nu voor dat bij alle extensions 1 wordt opgeteld.

In [16]:
sales_data['EXTENSION'] += 1
sales_data

,SALES_STAFF_CODE,FIRST_NAME,LAST_NAME,POSITION_EN,WORK_PHONE,EXTENSION,FAX,EMAIL,DATE_HIRED,SALES_BRANCH_CODE,TRIAL888,CONTACT,FULL_NAME
0,100,Tuomas,Savolainen,Level 2 Sales Representative,+358(0)17 - 433 127,826.0,+358(0)17 - 433 129,TSavolainen@grtd123.com,23-7-2014,31,T,FAX: +358(0)17 - 433 129 EMAIL: TSavolainen@gr...,Tuomas Savolainen
1,101,Chang-ho,Kim,Level 2 Sales Representative,82-2-778-6587,1229.0,82-2-778-6586,CKim@grtd123.com,15-12-2014,32,T,FAX: 82-2-778-6586 EMAIL: CKim@grtd123.com,Chang-ho Kim
2,102,Jung-ho,Choi,Level 3 Sales Representative,82-2-778-6587,2642.0,82-2-778-6586,JChoi@grtd123.com,27-11-2014,32,T,FAX: 82-2-778-6586 EMAIL: JChoi@grtd123.com,Jung-ho Choi
3,103,Kwei-Ping,Kao,Level 2 Sales Representative,886-2-2975-1988,1542.0,886-2-2989-4978,KKwao@grtd123.com,7-10-2014,33,T,FAX: 886-2-2989-4978 EMAIL: KKwao@grtd123.com,Kwei-Ping Kao
4,104,Chin-Tsai,Fang,Level 3 Sales Representative,886-2-2975-1988,2312.0,886-2-2989-4978,CFon@grtd123.com,8-5-2012,33,T,FAX: 886-2-2989-4978 EMAIL: CFon@grtd123.com,Chin-Tsai Fang
...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,95,Tomás,Iglesias,Level 2 Sales Representative,+35 94 322 3540,326.0,+35 91 548 1637,TIglesias@grtd123.com,19-2-2014,29,T,FAX: +35 91 548 1637 EMAIL: TIglesias@grtd123.com,Tomás Iglesias
98,96,Bayard,Lopes,Branch Manager,+55 (11) 344-4444,3491.0,+55 (11) 333-2223,BLopes@grtd123.com,12-8-2013,30,T,FAX: +55 (11) 333-2223 EMAIL: BLopes@grtd123.com,Bayard Lopes
99,97,Viviam,Barros,Level 3 Sales Representative,+55 (11) 344-4444,3365.0,+55 (11) 333-2223,VBarros@grtd123.com,10-2-2017,30,T,FAX: +55 (11) 333-2223 EMAIL: VBarros@grtd123.com,Viviam Barros
100,98,Eduardo,Guimarães,Level 2 Sales Representative,+55 (11) 344-4444,1443.0,+55 (11) 333-2223,EGuimaraes@grtd123.com,14-2-2015,30,T,FAX: +55 (11) 333-2223 EMAIL: EGuimaraes@grtd1...,Eduardo Guimarães
101,99,Helena,Lindholm,Level 3 Sales Representative,+358(0)17 - 433 127,490.0,+358(0)17 - 433 129,HLindholm@grtd123.com,17-8-2013,31,T,FAX: +358(0)17 - 433 129 EMAIL: HLindholm@grtd...,Helena Lindholm

Elke 'Branch Manager' wordt nu 'General Manager'. Schrijf code zodat deze wijziging doorgevoerd wordt in het DataFrame.

In [17]:
sales_data = sales_data.replace('Branch Manager', 'General Manager')
sales_data

,SALES_STAFF_CODE,FIRST_NAME,LAST_NAME,POSITION_EN,WORK_PHONE,EXTENSION,FAX,EMAIL,DATE_HIRED,SALES_BRANCH_CODE,TRIAL888,CONTACT,FULL_NAME
0,100,Tuomas,Savolainen,Level 2 Sales Representative,+358(0)17 - 433 127,826.0,+358(0)17 - 433 129,TSavolainen@grtd123.com,23-7-2014,31,T,FAX: +358(0)17 - 433 129 EMAIL: TSavolainen@gr...,Tuomas Savolainen
1,101,Chang-ho,Kim,Level 2 Sales Representative,82-2-778-6587,1229.0,82-2-778-6586,CKim@grtd123.com,15-12-2014,32,T,FAX: 82-2-778-6586 EMAIL: CKim@grtd123.com,Chang-ho Kim
2,102,Jung-ho,Choi,Level 3 Sales Representative,82-2-778-6587,2642.0,82-2-778-6586,JChoi@grtd123.com,27-11-2014,32,T,FAX: 82-2-778-6586 EMAIL: JChoi@grtd123.com,Jung-ho Choi
3,103,Kwei-Ping,Kao,Level 2 Sales Representative,886-2-2975-1988,1542.0,886-2-2989-4978,KKwao@grtd123.com,7-10-2014,33,T,FAX: 886-2-2989-4978 EMAIL: KKwao@grtd123.com,Kwei-Ping Kao
4,104,Chin-Tsai,Fang,Level 3 Sales Representative,886-2-2975-1988,2312.0,886-2-2989-4978,CFon@grtd123.com,8-5-2012,33,T,FAX: 886-2-2989-4978 EMAIL: CFon@grtd123.com,Chin-Tsai Fang
...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,95,Tomás,Iglesias,Level 2 Sales Representative,+35 94 322 3540,326.0,+35 91 548 1637,TIglesias@grtd123.com,19-2-2014,29,T,FAX: +35 91 548 1637 EMAIL: TIglesias@grtd123.com,Tomás Iglesias
98,96,Bayard,Lopes,General Manager,+55 (11) 344-4444,3491.0,+55 (11) 333-2223,BLopes@grtd123.com,12-8-2013,30,T,FAX: +55 (11) 333-2223 EMAIL: BLopes@grtd123.com,Bayard Lopes
99,97,Viviam,Barros,Level 3 Sales Representative,+55 (11) 344-4444,3365.0,+55 (11) 333-2223,VBarros@grtd123.com,10-2-2017,30,T,FAX: +55 (11) 333-2223 EMAIL: VBarros@grtd123.com,Viviam Barros
100,98,Eduardo,Guimarães,Level 2 Sales Representative,+55 (11) 344-4444,1443.0,+55 (11) 333-2223,EGuimaraes@grtd123.com,14-2-2015,30,T,FAX: +55 (11) 333-2223 EMAIL: EGuimaraes@grtd1...,Eduardo Guimarães
101,99,Helena,Lindholm,Level 3 Sales Representative,+358(0)17 - 433 127,490.0,+358(0)17 - 433 129,HLindholm@grtd123.com,17-8-2013,31,T,FAX: +358(0)17 - 433 129 EMAIL: HLindholm@grtd...,Helena Lindholm

### Kolommen

Verander de kolomnaam 'POSITION_EN' naar 'POSITION'.

In [18]:
sales_data = sales_data.rename(columns = {'POSITION_EN' : 'POSITION'})
sales_data

,SALES_STAFF_CODE,FIRST_NAME,LAST_NAME,POSITION,WORK_PHONE,EXTENSION,FAX,EMAIL,DATE_HIRED,SALES_BRANCH_CODE,TRIAL888,CONTACT,FULL_NAME
0,100,Tuomas,Savolainen,Level 2 Sales Representative,+358(0)17 - 433 127,826.0,+358(0)17 - 433 129,TSavolainen@grtd123.com,23-7-2014,31,T,FAX: +358(0)17 - 433 129 EMAIL: TSavolainen@gr...,Tuomas Savolainen
1,101,Chang-ho,Kim,Level 2 Sales Representative,82-2-778-6587,1229.0,82-2-778-6586,CKim@grtd123.com,15-12-2014,32,T,FAX: 82-2-778-6586 EMAIL: CKim@grtd123.com,Chang-ho Kim
2,102,Jung-ho,Choi,Level 3 Sales Representative,82-2-778-6587,2642.0,82-2-778-6586,JChoi@grtd123.com,27-11-2014,32,T,FAX: 82-2-778-6586 EMAIL: JChoi@grtd123.com,Jung-ho Choi
3,103,Kwei-Ping,Kao,Level 2 Sales Representative,886-2-2975-1988,1542.0,886-2-2989-4978,KKwao@grtd123.com,7-10-2014,33,T,FAX: 886-2-2989-4978 EMAIL: KKwao@grtd123.com,Kwei-Ping Kao
4,104,Chin-Tsai,Fang,Level 3 Sales Representative,886-2-2975-1988,2312.0,886-2-2989-4978,CFon@grtd123.com,8-5-2012,33,T,FAX: 886-2-2989-4978 EMAIL: CFon@grtd123.com,Chin-Tsai Fang
...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,95,Tomás,Iglesias,Level 2 Sales Representative,+35 94 322 3540,326.0,+35 91 548 1637,TIglesias@grtd123.com,19-2-2014,29,T,FAX: +35 91 548 1637 EMAIL: TIglesias@grtd123.com,Tomás Iglesias
98,96,Bayard,Lopes,General Manager,+55 (11) 344-4444,3491.0,+55 (11) 333-2223,BLopes@grtd123.com,12-8-2013,30,T,FAX: +55 (11) 333-2223 EMAIL: BLopes@grtd123.com,Bayard Lopes
99,97,Viviam,Barros,Level 3 Sales Representative,+55 (11) 344-4444,3365.0,+55 (11) 333-2223,VBarros@grtd123.com,10-2-2017,30,T,FAX: +55 (11) 333-2223 EMAIL: VBarros@grtd123.com,Viviam Barros
100,98,Eduardo,Guimarães,Level 2 Sales Representative,+55 (11) 344-4444,1443.0,+55 (11) 333-2223,EGuimaraes@grtd123.com,14-2-2015,30,T,FAX: +55 (11) 333-2223 EMAIL: EGuimaraes@grtd1...,Eduardo Guimarães
101,99,Helena,Lindholm,Level 3 Sales Representative,+358(0)17 - 433 127,490.0,+358(0)17 - 433 129,HLindholm@grtd123.com,17-8-2013,31,T,FAX: +358(0)17 - 433 129 EMAIL: HLindholm@grtd...,Helena Lindholm

## Data verwijderen

### Rijen

De medewerkers op indexen 99, 100 en 101 hebben helaas ontslag genomen.<br>
Verwijder de bijbehorende rijen uit het DataFrame. Gebruik slechts één keer de .drop()-methode.

In [19]:
sales_data = sales_data.drop(4, axis=0)
sales_data

,SALES_STAFF_CODE,FIRST_NAME,LAST_NAME,POSITION,WORK_PHONE,EXTENSION,FAX,EMAIL,DATE_HIRED,SALES_BRANCH_CODE,TRIAL888,CONTACT,FULL_NAME
0,100,Tuomas,Savolainen,Level 2 Sales Representative,+358(0)17 - 433 127,826.0,+358(0)17 - 433 129,TSavolainen@grtd123.com,23-7-2014,31,T,FAX: +358(0)17 - 433 129 EMAIL: TSavolainen@gr...,Tuomas Savolainen
1,101,Chang-ho,Kim,Level 2 Sales Representative,82-2-778-6587,1229.0,82-2-778-6586,CKim@grtd123.com,15-12-2014,32,T,FAX: 82-2-778-6586 EMAIL: CKim@grtd123.com,Chang-ho Kim
2,102,Jung-ho,Choi,Level 3 Sales Representative,82-2-778-6587,2642.0,82-2-778-6586,JChoi@grtd123.com,27-11-2014,32,T,FAX: 82-2-778-6586 EMAIL: JChoi@grtd123.com,Jung-ho Choi
3,103,Kwei-Ping,Kao,Level 2 Sales Representative,886-2-2975-1988,1542.0,886-2-2989-4978,KKwao@grtd123.com,7-10-2014,33,T,FAX: 886-2-2989-4978 EMAIL: KKwao@grtd123.com,Kwei-Ping Kao
5,105,Xiangyong,Wang,Level 2 Sales Representative,86-21-6790-5612,335.0,86-21-6790-5612,XWang@grtd123.com,7-5-2014,34,T,FAX: 86-21-6790-5612 EMAIL: XWang@grtd123.com,Xiangyong Wang
...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,95,Tomás,Iglesias,Level 2 Sales Representative,+35 94 322 3540,326.0,+35 91 548 1637,TIglesias@grtd123.com,19-2-2014,29,T,FAX: +35 91 548 1637 EMAIL: TIglesias@grtd123.com,Tomás Iglesias
98,96,Bayard,Lopes,General Manager,+55 (11) 344-4444,3491.0,+55 (11) 333-2223,BLopes@grtd123.com,12-8-2013,30,T,FAX: +55 (11) 333-2223 EMAIL: BLopes@grtd123.com,Bayard Lopes
99,97,Viviam,Barros,Level 3 Sales Representative,+55 (11) 344-4444,3365.0,+55 (11) 333-2223,VBarros@grtd123.com,10-2-2017,30,T,FAX: +55 (11) 333-2223 EMAIL: VBarros@grtd123.com,Viviam Barros
100,98,Eduardo,Guimarães,Level 2 Sales Representative,+55 (11) 344-4444,1443.0,+55 (11) 333-2223,EGuimaraes@grtd123.com,14-2-2015,30,T,FAX: +55 (11) 333-2223 EMAIL: EGuimaraes@grtd1...,Eduardo Guimarães
101,99,Helena,Lindholm,Level 3 Sales Representative,+358(0)17 - 433 127,490.0,+358(0)17 - 433 129,HLindholm@grtd123.com,17-8-2013,31,T,FAX: +358(0)17 - 433 129 EMAIL: HLindholm@grtd...,Helena Lindholm

### Kolommen

Faxen zijn inmiddels ouderwets: niemand gebruikt zijn/haar faxnummer nog.<br>
Verwijder de bijbehorende kolom uit het DataFrame.

In [20]:
sales_data = sales_data.drop('FAX', axis=1)
sales_data

,SALES_STAFF_CODE,FIRST_NAME,LAST_NAME,POSITION,WORK_PHONE,EXTENSION,EMAIL,DATE_HIRED,SALES_BRANCH_CODE,TRIAL888,CONTACT,FULL_NAME
0,100,Tuomas,Savolainen,Level 2 Sales Representative,+358(0)17 - 433 127,826.0,TSavolainen@grtd123.com,23-7-2014,31,T,FAX: +358(0)17 - 433 129 EMAIL: TSavolainen@gr...,Tuomas Savolainen
1,101,Chang-ho,Kim,Level 2 Sales Representative,82-2-778-6587,1229.0,CKim@grtd123.com,15-12-2014,32,T,FAX: 82-2-778-6586 EMAIL: CKim@grtd123.com,Chang-ho Kim
2,102,Jung-ho,Choi,Level 3 Sales Representative,82-2-778-6587,2642.0,JChoi@grtd123.com,27-11-2014,32,T,FAX: 82-2-778-6586 EMAIL: JChoi@grtd123.com,Jung-ho Choi
3,103,Kwei-Ping,Kao,Level 2 Sales Representative,886-2-2975-1988,1542.0,KKwao@grtd123.com,7-10-2014,33,T,FAX: 886-2-2989-4978 EMAIL: KKwao@grtd123.com,Kwei-Ping Kao
5,105,Xiangyong,Wang,Level 2 Sales Representative,86-21-6790-5612,335.0,XWang@grtd123.com,7-5-2014,34,T,FAX: 86-21-6790-5612 EMAIL: XWang@grtd123.com,Xiangyong Wang
...,...,...,...,...,...,...,...,...,...,...,...,...
97,95,Tomás,Iglesias,Level 2 Sales Representative,+35 94 322 3540,326.0,TIglesias@grtd123.com,19-2-2014,29,T,FAX: +35 91 548 1637 EMAIL: TIglesias@grtd123.com,Tomás Iglesias
98,96,Bayard,Lopes,General Manager,+55 (11) 344-4444,3491.0,BLopes@grtd123.com,12-8-2013,30,T,FAX: +55 (11) 333-2223 EMAIL: BLopes@grtd123.com,Bayard Lopes
99,97,Viviam,Barros,Level 3 Sales Representative,+55 (11) 344-4444,3365.0,VBarros@grtd123.com,10-2-2017,30,T,FAX: +55 (11) 333-2223 EMAIL: VBarros@grtd123.com,Viviam Barros
100,98,Eduardo,Guimarães,Level 2 Sales Representative,+55 (11) 344-4444,1443.0,EGuimaraes@grtd123.com,14-2-2015,30,T,FAX: +55 (11) 333-2223 EMAIL: EGuimaraes@grtd1...,Eduardo Guimarães
101,99,Helena,Lindholm,Level 3 Sales Representative,+358(0)17 - 433 127,490.0,HLindholm@grtd123.com,17-8-2013,31,T,FAX: +358(0)17 - 433 129 EMAIL: HLindholm@grtd...,Helena Lindholm