In [1]:
import pandas as pd

C:\Users\markv\AppData\Local\Temp\ipykernel_14324\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
print("geef me je geld")
print("of ik gebruik geweld,")
print("toen kwam de controle aangesneld")

geef me je geld
of ik gebruik geweld,
toen kwam de controle aangesneld

In [3]:
Apenhoofd = "Apenhoofd"
PaardenStaart = "Paardenstaart"
print(Apenhoofd)
print(PaardenStaart)

Apenhoofd
Paardenstaart

In [5]:
letter = input("A,B,C,D, ...., F, G")
print("Het is inderdaad:")
print(letter)

Het is inderdaad:
E

In [1]:
inkomen = input("")
print(f"Uw inkomen ({inkomen}) is zeer acceptabel")

Uw inkomen (yes) is zeer acceptabel

In [1]:
basis = int(input("wat is de basis?"))
hoogte = int(input("wat is de hoogte?"))
print(f"De oppervlakte van de driehoek is {0.5*hoogte*basis}")

De oppervlakte van de driehoek is 100.0

In [3]:
l = int(input("geef je leeftijd"))
o = input("Zijn je ouders mee j/n")
if (o == "j"):
    if (l < 6):
        print("Je mag het zwembad in")
    else:
        print("Waarom heb je nog je ouders mee?")
else:
    if(l < 6):
        print("Je mag het niet zwembad in")
    else:
        print("Je mag het zwembad in als je een diploma hebt")

Waarom heb je nog je ouders mee?

In [7]:
def wachtwoord1(een, twee):
    if(een == twee):
        print("gelijk")
    else:
        print("ongelijk")

wachtwoord1("gelijk", "gelijk")

gelijk

In [6]:
def zoekPrins(prinses):
    if(prinses == "aurora"):
        print("philip")
    elif(prinses == "ariel"):
        print("Eric")
    elif(prinses == "Jasmine"): 
        print("aladdin")
    elif(prinses == "pocahontas"):
        print("john")
    elif(prinses == "belle"):
        print("beast")
    elif(prinses == "tiana"):
        print("naveen")
    elif(prinses == "mulan"):
        print("shang")
zoekPrins("mulan")

shang

In [1]:
def wachtwoord():
    w1 = input()
    w2 = input()
    while(w1 != w2):
        print("probeer het opnieuw")
    print("succes")
wachtwoord()

succes

In [6]:
def tafel(getal: int):
    teller: int = 1
    while(teller <= 10):
        print(f'{teller} x {getal} = {teller * getal}')
        teller += 1
def tafels(getal: int):
    teller: int = 1
    while(teller <= x):
        print(f'{teller}')
        print('')
        teller += 1
    
x: int = int(input())
tafels(x)

1

2

In [13]:
def loopje():

    for x in range(11):
        print(f"huidige getal: {x}")

loopje()

huidige getal: 0
huidige getal: 1
huidige getal: 2
huidige getal: 3
huidige getal: 4
huidige getal: 5
huidige getal: 6
huidige getal: 7
huidige getal: 8
huidige getal: 9
huidige getal: 10

In [12]:
def checkEven():
    evenGetallen = 0
    for x in range(12):
        print(f"{x}")
        if(x % 2 == 0):
            evenGetallen += 1
    print(f"aantal even getallen: {evenGetallen}")

checkEven()

0
1
2
3
4
5
6
7
8
9
10
11
aantal even getallen: 6

In [1]:
class Kledingstuk:
    def __init__(self, merk, maat, prijs):
        self.merk = merk
        self.maat = maat
        self.prijs = prijs

    def beschrijf(self):
        print(self.merk, self.maat, self.prijs)

class Broek(Kledingstuk):
    def __init__(self, merk, maat, prijs, broek_type):
        super().__init__(merk, maat, prijs)
        self.broek_type = broek_type

    def beschrijf(self):
        print(self.merk, self.maat, self.prijs, self.broek_type)

class Shirt(Kledingstuk):
    def __init__(self, merk, maat, prijs, shirt_type):
        super().__init__(merk, maat, prijs)
        self.shirt_type = shirt_type

    def beschrijf(self):
        print(self.merk, self.maat, self.prijs, self.shirt_type)

class Spijkerbroek(Broek):
    def __init__(self, merk, maat, prijs, broek_type, blauwtint):
        super().__init__(merk, maat, prijs, broek_type)
        self.blauwtint = blauwtint

    def beschrijf(self):
        print(self.merk, self.maat, self.prijs, self.broek_type, self.blauwtint)

class Poloshirt(Shirt):
    def __init__(self, merk, maat, prijs, shirt_type, kraagsoort):
        super().__init__(merk, maat, prijs, shirt_type)
        self.kraagsoort = kraagsoort

    def beschrijf(self):
        print(self.merk, self.maat, self.prijs, self.shirt_type, self.kraagsoort)

kledingstuk = Kledingstuk("Prada", 35, 500)
broek = Broek("Prada", 35, 500, "Spijker")
shirt = Shirt("Prada", 35, 500, "Bloussie")
spijkerbroek = Spijkerbroek("Prada", 35, 500, "Spijker", "Extrablauw")
poloshirt = Poloshirt("Prada", 35, 500, "Polo", "Rond")

kledingstuk.beschrijf()
broek.beschrijf()
shirt.beschrijf()
spijkerbroek.beschrijf()
poloshirt.beschrijf()

Prada 35 500
Prada 35 500 Spijker
Prada 35 500 Bloussie
Prada 35 500 Spijker Extrablauw
Prada 35 500 Polo Rond

In [1]:
mijn_lijst = ["Jelle", "Marleen", "Henk", "Fatima", "Jelle", "Henk"]
print(mijn_lijst[0])

mijn_lijst[0] = 2
mijn_lijst[1] = 3
print(mijn_lijst)

Jelle
[2, 3, 'Henk', 'Fatima', 'Jelle', 'Henk']

In [5]:
mijn_tupel = ("Jelle", "Marleen", "Henk", "Fatima", "Jelle", "Henk")
#waardes in een tupel kunnen niet aangepast worden.
print(mijn_tupel[0])

Jelle

In [7]:
mijn_dict = {
    'naam' : 'Jelle',
    'leeftijd' : 28,
    'beroep' : "Docent",
    'hobby' : "Volleybal"
}

#waardes in een dictionary kunnen aangepast worden dmv keys
print(mijn_dict['naam'])
mijn_dict['naam'] = 'gerrit'
print(mijn_dict['naam'])

Jelle
gerrit

In [5]:
import pandas as pd
import sqlite3
import warnings
warnings.simplefilter('ignore')

C:\Users\markv\AppData\Local\Temp\ipykernel_10168\955563736.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [6]:
sales_connection = sqlite3.connect('go_sales.sqlite')

In [3]:
sql_query = "SELECT name FROM sqlite_master WHERE type='table';"
pd.read_sql_query(sql_query, sales_connection)

                name
0            country
1      order_details
2       order_header
3       order_method
4            product
5       product_line
6       product_type
7      retailer_site
8      return_reason
9      returned_item
10      sales_branch
11       sales_staff
12  SALES_TARGETData
13   sqlite_sequence

In [7]:
sales_query = "SELECT * FROM sales_staff"
sales = pd.read_sql_query(sales_query, sales_connection)

In [20]:
# sales_Tuomas = sales['FIRST_NAME'] == 'Tuomas'
# sales.loc[:, ['FIRST_NAME']].drop_duplicates('FIRST_NAME')

In [8]:
# sale.count()
sales.groupby('POSITION_EN', as_index = False)['SALES_BRANCH_CODE'].sum()

,POSITION_EN,SALES_BRANCH_CODE
0,Branch Manager,35363813147915617181920222123242830
1,District Manager,14171926
2,General Manager,35
3,Level 1 Sales Representative,363637383891518622212528
4,Level 2 Sales Representative,3132333435363713391379915151717181819192020222...
5,Level 3 Sales Representative,323334353637383914791761819202223252628293031
6,Regional Manager,1320